<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src='/js/jquery-1.10.2.min.js'></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="javascript:void(0)" onclick="a()">点我</a>
  </body>
  <script>
    function a(){
        console.log(1)
        $.ajax({
            url: '/insertUser',
            type: 'post',
            async : false,
            data: {
                city: "",
                avatarUrl: "https://wx.qlogo.cn/mmopen/vi_32/Q0j4TwGTfTKgNuRNozic1xl1wVzN2JAoPdbEEicI5VNzRM3cFJjK9Wdwia75icib2StKTCdTj2oICWgbIKUsG9yAjEQ/132",
                code: "081EVg0c1WRIuu0XiZXb13S60c1EVg0c",
                country: "St.Kitts and Nevis",
                gender: 1,
                language: "zh_CN",
                nickName: " W's-Superman",
                province: ""
            },
            success: function (res) {

            },
            error: function (err) {

            }
        })
    }
  </script>
</html>
